/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100px;
  background-color: aqua;
}

main {
  padding: 150px 0;
}

header div {
  width: 100%;
}

h1 {
  font-size: 5rem;
}

img {
  width: 100%;
}

/* UTILITIES */
.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}

.align-center {
  display: flex;
  align-items: center;
}

.justify-between {
  display: flex;
  justify-content: space-between;
}

.inline {
  display: inline;
}

.text-right {
  text-align: right;
}

.mg-0-20 {
  margin: 0 20px;
}

.wd-30 {
  width: 30%;
}

.wd-70 {
  width: 70%;
}

.bg-blue {
  background-color: blue;
}

.bg-green {
  background-color: green;
}

.bg-red {
  background-color: red;
}


.border-b {
  border: 2px solid black;
}